{% extends "admin/custom_admin_base.html" %}

{% load i18n l10n admin_urls %}

{% block content %}
    <p style="color: #693 !important; font-weight: bold; margin-bottom: 30px;">{{ description }}</p>

    <form action="{% url opts|admin_urlname:'xliff_import' %}" method="POST" class="modal-body">
        {% csrf_token %}
        <input type="hidden" name="xliff_json" value="{{ xliff_json }}">

        <div class="change-list">
            {% for plugin_id, units in xliff.grouped_units %}
                <p>
                    <strong>{{ units.0.plugin_name }}</strong> (ID: {{ plugin_id|unlocalize }},
                    Type: {{ units.0.plugin_type }})
                </p>
                <div class="results">
                    <table id="result_list" style="margin-bottom: 30px !important;">
                        <tbody>
                        {% for unit in units %}
                            <tr>
                                <th style="width: 120px; font-weight: bold; color: #666;">{{ unit.field_verbose_name }}</th>
                                <td style="white-space: normal">{{ unit.target }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>

        <p>{{ note }}</p>
        <div class="submit-row">
            <input type="submit" class="default" value="{% trans "Submit" %}">
        </div>
    </form>
{% endblock %}
